rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite que qualquer usuário autenticado escreva na pasta de avatares.
    // A lógica de quem pode escrever o avatar de quem é controlada pela aplicação.
    // Permite leitura pública para que todos possam ver os avatares.
    match /avatars/{path=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
