rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow any authenticated user to upload their own avatar
    // The path ensures that the userId in the path matches the authenticated user's ID.
    // This prevents one user from overwriting another user's avatar.
    match /avatars/{userId}/{childId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}

    